body{
  background-color: 	#ece4ef;
}
.headerstyle{
  background-color: 	#deccca;
  border-radius: 30px;
  text-align: center;
  font-size: 150%
}
.fuzzify{
  border-radius: 30px
}
img{
  padding: 20px;
}
