body{
  background-color: 	#c7bbc9;
}
.headerstyle{
  font-family: 'Monoton', cursive;
  background-color: 	#deccca;
  border-radius: 30px;
  text-align: center;
  font-size: 150%
}
.fuzzify{
  border-radius: 30px
}
img{
  padding: 20px;
}

p{
  font-family: 'Khand',cursive;
  background: #deccca;
  text-align: center;
  font-size: 115%;
  border-radius: 20px;
}

/* .khand{
  font-size: 'Khand', cursive;
  font-weight: lighter;
} */
